:root {
	--color-primary: #ffc0cb;
	--color-secondary: #fff4e6;
	--color-accent: #30f2c6;
	--color-white: #fff;
	--color-black: #2f2f2f;
	--color-background: #fffbf7;
	--font-heading: 'Fredoka One', cursive;
	--font-body: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}


/*********INDEX*********/
.page-index {
	height: 100vh;
	display: grid;
	place-items: center;
	background-image: url("../img/pattern.svg");
	object-fit: cover;
	overflow: hidden;
}

.page-index h1 {
	font-family: var(--font-heading);
	color: var(--color-black);
	font-size: 10rem;
	margin: 0;
	top: 100px;
	z-index: -1;
	position: relative;
}

.page-index img {
	height: 500px;
	width: 500px;
	padding-bottom: 5rem;
}

/*********LOGIN/SIGNUP*********/

.page-member {
	overflow: hidden;
}

.two-column {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
}

.page-member .left {
	background-color: var(--color-primary);
	text-align: center;
	padding-top: 3rem;
}

.page-member .left img {
	grid-column: 1;
	width: 600px;
	height: 600px;
}

.page-member .right {
	background-color: var(--color-secondary);
	text-align: center;
	padding-top: 3rem;
}

.page-member .right img {
	grid-column: 2;
	width: 600px;
	height: 600px;
}

.page-member button {
	position: relative;
	bottom: 8rem;
	margin:0 auto;
  display: block;
  font-size: 1.5rem;
  font-family: var(--font-heading);
  padding: 1rem;
  border-radius: 10px;
  border-style: none;
  background-color: var(--color-accent);
  color: var(--color-white);
}


/*********PIN*********/
.page-pin {
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 5rem;
	font-family: var(--font-heading);
	background-color: var(--color-black);
}

.page-pin h1 {
	font-size: 5rem;
	color: var(--color-primary);
}

form {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
}

form label {
  display: none;
}

form input {
  border: 0;
  width: 100%; 
  border-bottom: 1rem solid var(--color-accent);
  font-size: 7.5rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
}


/*********ORDERHOME*********/
.page-orderhome {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-orderhome .left {
	grid-column: 1;
}

.page-orderhome .left img {
	width: 650px;
	height: 650px;
	position: relative;
	right: 10rem;
	top: 1.5rem;
}

.page-orderhome .main {
	grid-column: 2;
	padding: 4rem;
	padding-right: 10rem;
}

.page-orderhome .main img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 33rem;
}

.page-orderhome h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

.page-orderhome ul li {
	list-style: none;
	padding-top: 1rem;
}

.page-orderhome button {
	border-style: none;
	border-radius: 10px;
	padding: 1.5rem;
	font-family: var(--font-body);
	font-weight: 900;
	background-color: var(--color-primary);
	color: var(--color-white);
	width: 600px;
	height: 90px;
	text-align: center;
	font-size: 2.5rem;
}

.page-orderhome button a {
	width: 600px;
	height: 90px;
	text-align: center;
	font-size: 2.5rem;
	padding: 1.5rem;
	font-family: var(--font-body);
	font-weight: 900;
	color: var(--color-white);
	text-decoration: none;
}

.page-orderhome .footer {
	text-align: right;
	font-family: var(--font-body);
	font-weight: 400;
	padding-top: 1rem;
}


/*********ORDERBASE*********/
.page-orderbase {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-orderbase .left {
	grid-column: 1;
}

.page-orderbase .left img {
	width: 650px;
	height: 650px;
	position: relative;
	right: 15rem;
	top: 1.5rem;
	z-index: -1;
}

.page-orderbase .main {
	grid-column: 2;
	z-index: 1;
	position: relative;
	right: 2rem;
	padding: 4rem;
}

.page-orderbase .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 33rem;
}

.page-orderbase h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

/* selections */
.page-orderbase form ul {
	grid-column: 2;
  margin: 0 0 1.25rem;
  padding-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  position: relative;
  left: 7rem;
}

.page-orderbase form li {
	border-radius: 10px;
	height: 8rem;
  width: 8rem;
  background-color: var(--color-white);
}

.page-orderbase input[type="checkbox"][id^="cb"] {
  display: none;
}

.page-orderbase label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
}

.page-orderbase :checked+label img {
  border: .5rem solid var(--color-primary);
}

.page-orderbase form img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: .3rem solid #2f2f2f;
  border-radius: 10px;
}

.page-orderbase .next[disabled] {
  background-color: #ccc;
  color: #999;
}

.page-orderbase .footer {
	display: grid;
	grid-template-columns: .2fr .2fr;
	grid-gap: 3rem;
}

.page-orderbase .footer img {
	width: 100px;
	height: 100px;
	position: relative;
	left: 24rem;
}

.page-orderbase .footer .next {
	filter: invert(100%) sepia(15%) saturate(834%) hue-rotate(305deg) brightness(99%) contrast(87%);
}

/*********ORDERICING*********/
.page-ordericing {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-ordericing .left {
	grid-column: 1;
}

.page-ordericing .left img {
	width: 650px;
	height: 650px;
	position: relative;
	right: 15rem;
	top: 1.5rem;
	z-index: -1;
}

.page-ordericing .main {
	grid-column: 2;
	z-index: 1;
	position: relative;
	right: 2rem;
	padding: 4rem;
}

.page-ordericing .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 33rem;
}

.page-ordericing h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

/* selections */
.page-ordericing form ul {
	grid-column: 2;
  margin: 0 0 1.25rem;
  padding-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  position: relative;
  left: 7rem;
}

.page-ordericing form li {
	border-radius: 10px;
	height: 8rem;
  width: 8rem;
  background-color: var(--color-white);
}

.page-ordericing input[type="checkbox"][id^="cb"] {
  display: none;
}

.page-ordericing label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
}

.page-ordericing :checked+label img {
  border: .5rem solid var(--color-primary);
}

.page-ordericing form img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: .3rem solid #2f2f2f;
  border-radius: 10px;
}

.page-ordericing .next[disabled] {
  background-color: #ccc;
  color: #999;
}

.page-ordericing .footer {
	display: grid;
	grid-template-columns: .2fr .2fr;
	grid-gap: 3rem;
}

.page-ordericing .footer img {
	width: 100px;
	height: 100px;
	position: relative;
	left: 24rem;
}

.page-ordericing .footer .next {
	filter: invert(100%) sepia(15%) saturate(834%) hue-rotate(305deg) brightness(99%) contrast(87%);
}


/*********ORDERTOPPINGS*********/
.page-ordertoppings {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-ordertoppings .left {
	grid-column: 1;
}

.page-ordertoppings .left img {
	width: 650px;
	height: 650px;
	position: relative;
	right: 15rem;
	top: 1.5rem;
	z-index: -1;
}

.page-ordertoppings .main {
	grid-column: 2;
	z-index: 1;
	position: relative;
	right: 2rem;
	padding: 4rem;
}

.page-ordertoppings .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 33rem;
}

.page-ordertoppings h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

/* selections */
.page-ordertoppings form ul {
	grid-column: 2;
  margin: 0 0 1.25rem;
  padding-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  position: relative;
  left: 7rem;
}

.page-ordertoppings form li {
	border-radius: 10px;
	height: 8rem;
  width: 8rem;
  background-color: var(--color-white);
}

.page-ordertoppings input[type="checkbox"][id^="cb"] {
  display: none;
}

.page-ordertoppings label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
}

.page-ordertoppings :checked+label img {
  border: .5rem solid var(--color-primary);
}

.page-ordertoppings form img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: .3rem solid #2f2f2f;
  border-radius: 10px;
}

.page-ordertoppings .next[disabled] {
  background-color: #ccc;
  color: #999;
}

.page-ordertoppings .footer {
	display: grid;
	grid-template-columns: .2fr .2fr;
	grid-gap: 3rem;
}

.page-ordertoppings .footer img {
	width: 100px;
	height: 100px;
	position: relative;
	left: 24rem;
}

.page-ordertoppings .footer .next {
	filter: invert(100%) sepia(15%) saturate(834%) hue-rotate(305deg) brightness(99%) contrast(87%);
}

/*********QUANTITY*********/
.page-quantity {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-quantity .left {
	grid-column: 1;
}

.page-quantity .left img {
	width: 650px;
	height: 650px;
	position: relative;
	right: 15rem;
	top: 1.5rem;
	z-index: -1;
}

.page-quantity .main {
	grid-column: 2;
	z-index: 1;
	position: relative;
	right: 2rem;
	padding: 4rem;
}

.page-quantity .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 33rem;
}

.page-quantity h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

/* counter */
.counter {
	padding-top: 4rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-gap: 1rem;
	padding-left: 16rem;
}

.count {
  margin-bottom: 1.25rem;
}

.count button {
	font-size: 8rem;
	background-color: var(--color-primary);
	color: var(--color-white);
	border-radius: 1rem;
	cursor: pointer;
  border: 0;
  font-family: var(--font-body);
  font-weight: 900;
  height: 100%;
}

.count button[disabled]{
	background-color: var(--color-white);
	color: #ece7e3;
  cursor: default;
}

.count input {
	font-size: 10rem;
	color: #fff;
  border: 0;
	border-radius: 1rem;
	background-color: #333;
	width: 15rem;
	text-align: center;
  font-family: var(--font-body);
}

.count label {
  display: none;
}

.cart button {
	font-size: 2.5rem;
	color: var(--color-secondary);
	border-radius: 1rem;
	background-color: var(--color-primary);
	cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 900;
  width: 25rem;
}

.cart button[disabled]{
	color: var(--color-black);
	background-color: #ece7e3;
  cursor: default;
}

/*********HALFCART*********/
.page-halfcart {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-halfcart .half {
	height: 100vh;
	width: 30rem;
	grid-column: 1;
	background-color: var(--color-black);
	display: grid;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	padding: 3rem;
	z-index: 2;
}

.page-halfcart .half .top {
	grid-row: 1;
	display: grid;
	grid-template-columns: 2fr .5fr;
	place-items: center;
}

.page-halfcart .half .top h1 {
	color: var(--color-white);
	justify-self: start;
	position: relative;
	bottom: 10px;
}

.page-halfcart .half .top img {
	width: 60px;
	height: 60px;
	filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(150deg) brightness(103%) contrast(100%);
}

.page-halfcart .half .donut {
	width: 100%;
	height: 6rem;
	background-color: var(--color-white);
	border-radius: 10px;
	display: grid;
	grid-template-columns: .5fr 1fr;
	grid-template-rows: .2fr .2fr;
}

.page-halfcart .half .donut img {
	grid-column: 1;
	grid-row: 1 / span 2;
	width: 100px;
	height: 100px;
	padding: .5rem;
}

.page-halfcart .half .donut h1 {
	grid-column: 2;
	grid-row: 1;
	font-size: 1.5rem;
	justify-self: start;
	position: relative;
	bottom: .5rem;
}

.page-halfcart .half .donut p {
	grid-column: 2;
	grid-row: 2;
	font-size: 1rem;
	justify-self: start;
	position: relative;
	bottom: 1.8rem;
	font-family: var(--font-body);
}


.page-halfcart .half .total {
	width: 100%;
	height: 10.5rem;
	border: 5px solid var(--color-white);
	border-radius: 10px;
	position: relative;
	top: 5rem;
	padding: 2rem;
	color: var(--color-white);
}

.page-halfcart .half .total p {
	font-family: var(--font-body);
	font-weight: 700;
	margin: 0;
}

.page-halfcart .half .total span.price {
	font-family: var(--font-heading);
	letter-spacing: 2px;
  float: right;
  color: var(--color-primary);
}

.page-halfcart .half .total .final {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.page-halfcart .half button {
	width: 100%;
	height: 4rem;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 10px;
	font-family: var(--font-heading);
	border: none;
	font-size: 1.5rem;
	position: relative;
	top: 2rem;
}



.page-halfcart .main {
	grid-column: 2;
	z-index: -1;
	position: relative;
	right: 19rem;
	bottom: 43.5rem;
	padding: 4rem;
}

.page-halfcart .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 61rem;
}

.page-halfcart h1 {
	font-size: 4rem;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
	font-family: var(--font-heading);
	color: var(--color-black);
}

/* counter */
.page-halfcart .counter {
	padding-top: 4rem;
}

.page-halfcart .count {
	grid-column: 2;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.page-halfcart .count button {
	font-size: 8rem;
	color: #ece7e3;
	border-radius: 1rem;
	cursor: pointer;
  border: 0;
  font-family: var(--font-body);
  font-weight: 900;
}

.page-halfcart .count button[disabled]{
	color: var(--color-primary);
  cursor: default;
}

.page-halfcart .count input {
	font-size: 10rem;
	color: #fff;
  border: 0;
	border-radius: 1rem;
	background-color: #333;
	width: 15rem;
	text-align: center;
  font-family: var(--font-body);
}

.page-halfcart .count label {
  display: none;
}

.page-halfcart .cart button {
	font-size: 2.5rem;
	color: var(--color-secondary);
	border-radius: 1rem;
	background-color: var(--color-primary);
	cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  left: 27rem;
}

.page-halfcart .cart button[disabled]{
	color: var(--color-black);
	background-color: #ece7e3;
  cursor: default;
}

.page-halfcart .overlay {
	z-index: 1;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

/*********FULLCART*********/
.page-fullcart {
	height: 100vh;
	display: grid;
	grid-template-columns: .8fr 2fr;
	grid-template-rows: 2fr 2fr;
	background-color: var(--color-background);
	overflow: hidden;
}

.page-fullcart .left {
	grid-column: 1;
	grid-row: 1 / span 2;
}

.page-fullcart .left img {
	width: 100%;
	height: 100vh;
}



.page-fullcart .right .header {
	grid-column: 2;
	grid-row: 1;
	padding: 2rem;
}

.page-fullcart .right .header img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 48rem;
}

.page-fullcart .right .cart {
	height: 85vh;
	grid-column: 2;
	grid-row: 2;
	background-color: var(--color-black);
	display: grid;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	padding: 3rem;
	padding-top: 0;
}

.page-fullcart .right .top {
	grid-row: 1;
	display: grid;
	grid-template-columns: 2fr 1fr .5fr;
	place-items: center;
}

.page-fullcart .right .top h1 {
	color: var(--color-white);
	justify-self: start;
	font-family: var(--font-heading);
	font-size: 3rem;
}

.page-fullcart .right .top .back {
	width: 150px;
	height: 150px;
	justify-self: start;
	position: relative;
	right: 11.5rem;
}

.page-fullcart .right .top .edit {
	width: 50px;
	height: 50px;
	filter: invert(94%) sepia(96%) saturate(9%) hue-rotate(244deg) brightness(105%) contrast(100%);
}

.page-fullcart .right .donut {
	width: 100%;
	height: 6rem;
	background-color: var(--color-white);
	border-radius: 10px;
	display: grid;
	grid-template-columns: .5fr 1fr 1fr;
	grid-template-rows: .2fr;
	place-items: center;
	position: relative;
	bottom: 1rem;
}

.page-fullcart .right .donut img {
	grid-column: 1;
	width: 100px;
	height: 100px;
	padding: .5rem;
}

.page-fullcart .right .donut h1 {
	grid-column: 2;
	font-size: 1.5rem;
	justify-self: end;
	font-family: var(--font-body);
	font-weight: 700;
}

.page-fullcart .right .donut p {
	grid-column: 3;
	font-size: 1rem;
	font-family: var(--font-body);
}


.page-fullcart .right .total {
	width: 100%;
	height: 10.5rem;
	border: 5px solid var(--color-white);
	border-radius: 10px;
	padding: 2rem;
	color: var(--color-white);
}

.page-fullcart .right .total p {
	font-family: var(--font-body);
	font-weight: 700;
	margin: 0;
}

.page-fullcart .right .total span.price {
	font-family: var(--font-heading);
	letter-spacing: 2px;
  float: right;
  color: var(--color-primary);
}

.page-fullcart .right .total .final {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.page-halfcart .right button {
	width: 100%;
	height: 2rem;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 10px;
	font-family: var(--font-heading);
	border: none;
	font-size: 1rem;
}

/*********CHECKOUT*********/
.page-checkout {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 1fr;
	background-color: var(--color-black);
	padding: 6rem;
}

.page-checkout h1 {
	grid-column: 1 / span 2;
	grid-row: 1;
	color: var(--color-white);
	font-family: var(--font-body);
	font-weight: 900;
	font-size: 4rem;
	text-align: center;
	margin: 0;
}

.page-checkout img {
	grid-column: 1;
	grid-row: 2;
	width: 150px;
	height: 150px;
	position: relative;
	left: 12rem;
	top: 5rem;
	animation: rotation 2s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.page-checkout p {
	grid-column: 2;
	grid-row: 2;
	text-align: right;
	color: var(--color-white);
	font-family: var(--font-heading);
	font-size: 6rem;
	padding-right: 10rem;
}

/*********CONFIRMATION*********/
.page-confirmation {
	height: 100vh;
	background-color: var(--color-black);
	padding: 4rem;
}

.page-confirmation h1 {
	color: var(--color-primary);
	font-family: var(--font-heading);
	font-size: 5rem;
	margin: 0;
}

.page-confirmation li {
	font-size: 2.5rem;
	color: var(--color-white);
	font-family: var(--font-body);
	font-weight: 900;
	list-style: none;
}

.page-confirmation .close {
	color: var(--color-primary);
	font-family: var(--font-heading);
	font-size: 4rem;
	margin: 0;
	float: right;
	position: relative;
}
